<header>
    <div class="page-header">
        <div class="page-header-top">
            <div class="container">
                <a href="javascript:;" class="menu-toggler"></a>
            </div>
        </div>            
        <div class="page-header-menu">
            <div class="container">
                <div class="hor-menu  ">
                    <ul class="nav navbar-nav">
                        <li class="menu-bar classic-menu-dropdown">
                            <a th:href="@{/}"> Home
                            </a>

                        </li>
                        <li><a th:href="@{/show-department}"> Departments</a>
                            </li>
                        <li><a th:href="@{/salary-charts}"> SalaryCharts</a></li>
                     </ul>
                 </div>
             </div>
         </div>
    </div>
</header>
