<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <object th:include="fragments/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />

</head>
<body class="page-container-bg-solid">
    <div class="jumbotron jumbotron-fluid text-center">
        <h2>Employees</h2>
    </div>
    <div th:include="fragments/topmenuheader :: header"></div>


    <div class="container" style="margin-top:30px; margin-bottom: 50px; text-align: center">
        <div th:switch="${employees}">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Manager</th>
                        <th>Salary</th>
                        <th>DepartmentId</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="em : ${employees}">
                        <td th:text="${em.name}"></td>
                        <td th:text="${em.job}"></td>
                        <td th:text="${em.manager}"></td>
                        <td th:text="${em.salary}"></td>
                        <td th:text="${em.deptId}"></td>

                        <td><a th:href="@{/edit/{id}(id=${em.id})}">Edit</a></td>
                        <td><a th:href="@{/delete-employee/{id}(id=${em.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; margin: 30px">
                <button class="btn btn-info"><a href="/add" style="color:white; margin: 20px">Add New</a></button>
            </div>

            <div style="text-align: center; margin: 30px">
                <button class="btn btn-info"><a href="/salary-charts" style="color:white; margin: 20px">Get Chart</a></button>
            </div>
        </div>

        <hr/>
        <div class="row justify-content-center" style="text-align: center;">
            <form action="#" th:action="@{/salary-report}" method="post">
                <div class="form-group">
                    <input type="text" name="jobName" placeholder="Job">
                </div>

                <button class="btn btn-info" type="submit" style="color: white">Salary Report</button>
            </form>
        </div>
    </div>

    <div th:include="fragments/homefooter :: footer"></div>
</body>
</html>
