<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div th:switch="${salaryReport}">
    <h2 th:case="null">No salary report yet!</h2>
    <div th:case="*">
        <h2>Salary Report</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Job</th>
                <th>Department</th>
                <th>MinSalary</th>
                <th>MaxSalary</th>
                <th>AvgSalary</th>
                <th>TotalSalary</th>
                <th>EmployeeNumber</th>
                <th>UpdateTime</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sa : ${salaryReport}">
                <td th:text="${sa.job}"></td>
                <td th:text="${sa.department}"></td>
                <td th:text="${sa.salmin}"></td>
                <td th:text="${sa.salmax}"></td>
                <td th:text="${sa.salavg}"></td>
                <td th:text="${sa.saltotal}"></td>
                <td th:text="${sa.employeeCount}"></td>
                <td th:text="${sa.updateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
